*{
    padding: 0;
    margin: 0;
}
body{
    background-size: cover;   
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    background-color: royalblue ;
}
#todolist .container{
    background-color: lightcoral;
    border-radius: 8px;
    opacity: 0.9;
}
#listhead{
    font-weight: bold;
}